[defaults]
inventory = ansible/inventory.ini
roles_path = /mnt/c/Users/Alikhan/OneDrive/Advanced_Programming/AP2_Assignment1_AlikhanKorazbay/ansible/roles
host_key_checking = False
# Use default output callback to avoid requiring community.general collection
#stdout_callback = yaml
